.hero {
    width: 100%;
    position: relative;
}

.hero_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background:
        linear-gradient(90deg, rgba(255, 255, 255, 1) 37%, rgba(2, 0, 36, 0) 52%),
        url('./../../assets/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.hero_inner {
    width: 100%;
}

.hero__texts {
    padding-top: 5.7rem;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.hero__h2 {
    font-family: "Commissioner", sans-serif;
    font-size: 5.7rem;
    font-weight: 700;
    width: 50%;
    line-height: 6.5rem;
}

.hero__par {
    font-family: "Commissioner", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    width: 45%;
}

.hero__btn {
    padding: 1.5rem 2.5rem;
    background: rgb(249, 79, 79);
    border: none;
    outline: none;
    font-family: "Commissioner", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.hero_bg_resp {
    display: none;
}

.hero__mobile {
    height: 15.625rem;
    width: 100%;
    display: none;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 996px) {
    .hero__h2 {
        width: 70%;
    }
}

@media (max-width: 839px) {
    .hero__h2 {
        width: 70%;
    }

    .hero_bg {
        display: none;
    }

    .hero__mobile {
        display: block;
    }

    .hero__mobile {
        margin-left: 0;
        margin-right: 0;
    }

    .hero__h2 {
        width: 100%;
        color: rgb(0, 0, 0);
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: 0rem;
        text-align: left;
    }

    .hero__par {
        width: 100%;
        font-size: 1.3rem;
    }

    .app_header {
        height: 6.125rem;
    }
}