.app_header {
    width: 100%;
    height: 11.125rem;
}

.header__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.header__left {
    width: 50%;
    margin-left: 6%;
}

.header__right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: rgb(249, 79, 79);
}

.header_list {
    height: auto;
    width: 100%;
    padding-left: 5rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;

    > li {
        width: auto;
    }

    > li a {
        color: #fff;
        font-family: "Commissioner", sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }
}

.header__right_mobile {
    display: none;
    position: absolute;
    width: 50%;
    background: rgb(25, 25, 33);
    right: 3.5%;
    padding: 3rem 2rem;
    top: 6.125rem;
    z-index: 99;
    animation-name: opacityAnim;
    animation-duration: .4s;
}

.header_list_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    > li {
        width: auto;
    }

    > li a {
        color: #fff;
        font-family: "Commissioner", sans-serif;
        font-weight: 300;
    }
}

.active-every-mobile {
    padding: 1rem;
    background: rgb(249, 79, 79);
    color: #fff;
    text-align: center;

}

.active-every {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(25, 25, 33);
    font-weight: 400;
}

.active-every:hover {
    cursor: pointer;
    background: rgb(67, 67, 86);
}

.header_list li a:hover {
    font-weight: 600;
}

@keyframes opacityAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header__menu_icon {
    display: none;
}

@media (max-width: 1355px) {
    .header__left {
        width: 40%;
    }

    .header__right {
        width: 60%;
    }
}



@media (max-width: 1175px) {
    .header__left {
        width: 40%;
    }

    .header__right {
        width: 60%;
    }
}

@media (max-width: 982px) {
    .active-every {
        padding: 1rem;
    }
}

@media (max-width: 1175px) {
    .header__left {
        width: 30%;
    }

    .header__right {
        width: 70%;
    }
}

@media (max-width: 926px) {
    .active-every {
        padding: 1rem;
    }

    .header_list {
        padding-left: 2rem;
    }
}

@media (max-width: 844px) {
    .header__right {
        width: 70%;
    }

    .header__left {
        width: 30%;
    }

    .header__right {
        background-color: transparent;
    }

    .header_list {
        display: none;
    }

    .header__menu_icon {
        display: block;
    }

    .header__right {
        width: 50%;
        justify-content: end;
    }

    .header__left {
        width: 50%;
    }

    .header__menu_icon {
        padding-right: 6%;
    }
}

@media (max-width: 1572px) {
    .advantages__left  {
        margin-left: 9rem;
    }
}

@media (max-width: 254px) {
    .header__left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .header__right {
        width: 100%;
        justify-content: center;
    }

    .header__logo_container {
        width: 70%;
        display: block;

        > img {
            width: 100%;
            height: 100%;
        }
    }

    .header__menu_icon {
        padding-right: 0;
    }

    .header__inner {
        flex-direction: column;
        align-items: center;
    }
}