.app_carousel {
    width: 100%;
    height: 45.5rem;
}

.carousel__inner {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: start;
}

.carousel_icon {
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
}

.carousel__left {
    width: 50%;
    background: rgb(25, 25, 33);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.carousel__right {
    width: 74%;
    height: 45.5rem;
    position: absolute;
    margin-left: 26%;
}

.carousel_image_text {
    width: 100%;
    height: 45.5rem;
    position: relative;
}

.carousel_image {
    position: absolute;
    width: 100%;
    height: 45.5rem;
    z-index: -1;


    > img {
        object-fit: cover;
        width: 100%;
        height: 45.5rem;
    }
}

.carousel_text_buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.4rem;
    padding-left: 6rem;
}

.carousel_text {
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0rem;
    text-align: left;
}

.carousel_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.back_button {
    padding: 0.938rem 1.094rem;
    border-radius: 50%;
    border: 0.06rem solid rgb(249, 79, 79);
    background-color: transparent;
    color: rgb(249, 79, 79);
    cursor: pointer;
}

.carousel_image_text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.carousel_texts {
    padding-bottom: 5%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.2rem;
}

.carousel_text_name {
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: right;
}

.carousel_text_date {
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: right;
}

.next_button {
    padding: 0.938rem 1.094rem;
    border-radius: 50%;
    border: 0.06rem solid rgb(249, 79, 79);
    background-color: transparent;
    color: rgb(249, 79, 79);
    cursor: pointer;
}

@media (max-width: 839px) {
    .carousel__inner {
        flex-direction: column-reverse;
        align-items: start;
    }

    .app_carousel  {
        height: 100%;
    }

    .carousel__right {
        position: relative;
    }

    .carousel__left {
        width: 100%;
    }

    .carousel_text_buttons {
        padding-left: 7%;
    }

    .carousel__right {
        width: 100%;
        margin-left: 0;
    }

    .carousel_icon {
        display: none;
    }
}

@media (max-width: 322px) {
    .carousel_text {
        color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: 700;
line-height: 2.5rem;
letter-spacing: 0rem;
text-align: left;
    }
}