.app_footer {
    width: 100%;
}

.footer__inner {
    width: 100%;
    padding: 7.5rem 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__left {
    width: 50%;
    display: flex;
    justify-content: end;
}

.footer_text_span {
    color: rgb(0, 0, 0);
font-size: 3.5rem;
font-weight: 700;
line-height: 4rem;
letter-spacing: 0rem;
text-align: left;
font-family: "Commissioner", sans-serif;
}

.footer__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 5.5%;
}

.header__menu_icon {
    font-size: 2rem;
}

.d-none {
    display: none;
}

@media (max-width: 839px) {
    .footer__inner {
        flex-direction: column;
        align-items: start;
        gap: 1.7em;
    }

    .footer__right {
        width: 100%;
        justify-content: start;
    }

    .footer__left {
        width: 100%;
    }
}

@media (max-width: 317px) {
    .footer_text_span {
        color: rgb(0, 0, 0);
font-size: 2rem;
font-weight: 800;
line-height: 2.5rem;
letter-spacing: 0rem;
text-align: left;
    }
}