@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 6%;
    margin-right: 6%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}