.app_strategic {
    width: 100%;
    height: 61.5rem;
    z-index: 9;
}

.strategic__inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}

.strategic__left {
    width: 50%;
    height: 100%;
}

.strategic__right {
    width: 50%;
    height: 100%;
    background-color: rgb(25, 25, 33);
}

.strategic_img {
    width: 100%;
    height: 100%;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.strategic__right__texts {
    padding-top: 13rem;
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.7rem;
}

.strategic_h5 {
    font-size: 4rem;
    width: 60%;
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
}

.red_color {
    color: rgb(249, 79, 79);
}

.strategic_desc {
    font-family: "Commissioner", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
    width: 60%;
}

.strategic_link {
    color: rgb(249, 79, 79);
    text-decoration: underline;
    text-decoration-color: rgb(249, 79, 79);
    text-decoration-style: solid;
    text-decoration-thickness: .1rem;
    text-underline-offset: 0.5rem;
    font-family: "Commissioner", sans-serif;
    font-size: 1.1rem;
}

.strategic_link:hover {
    color: rgb(255, 147, 147);
    cursor: pointer;
    text-decoration-color: rgb(255, 147, 147);
}

.strategic_icon {
    position: absolute;
    left: 50%;
    transform: translate(-50% , 50%);
    top: 15rem;
}

@media (max-width: 839px) {

    .app_strategic {
        height: fit-content;
    }

    .strategic__inner {
        flex-direction: column;
        align-items: start;
    }

    .strategic__left {
        width: 100%;
    }

    .strategic_img > img {
        height: 20rem;
    }

    .strategic__right {
        width: 100%;
    }

    .strategic__right__texts {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        padding-left: 7%;
    }

    .strategic_icon {
        left: 15%;
        display: none;
    }
}

@media (max-width: 307px) {
    .strategic_h5 {
        font-size: 3rem;
        width: 100%;
    }

    .hero__h2 {
        color: rgb(0, 0, 0);
font-size: 2.5rem;
font-weight: 700;
line-height: 2.5rem;
letter-spacing: 0rem;
text-align: left;
    }
}

@media (max-width: 327px) {
    .strategic_h5 {
        width: 100%;
font-size: 2rem;
font-weight: 700;
line-height: 2.5rem;
letter-spacing: 0rem;
text-align: left;
    }
}